annotated-types==0.7.0
dotenv==0.9.9
greenlet==3.2.3

jsonpointer==3.0.0
jsonschema==4.25.0
langchain==0.3.27
langchain-core==0.3.72
langchain-openai==0.3.28
langchain-text-splitters==0.3.9
langgraph==0.6.1
langgraph-checkpoint==2.1.1
langgraph-checkpoint-sqlite==2.0.11
langgraph-prebuilt==0.6.1
langgraph-sdk==0.2.0
langsmith==0.4.8

openai==1.98.0
pandas==2.3.1
pydantic==2.11.7
python-dotenv==1.1.1
streamlit==1.47.1

langchain-community==0.3.27
ddgs